<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="sounds-phonegap-push-plugin" version="1.0.0"> 

    <name>Adding custom sounds to Phonegap XDK builds</name> 
    <description>Add customized sounds to XDK phonegap builds.</description> 
    <license>MIT</license> 

    <engines> 
        <engine name="cordova" version=">=3.0.0" /> 
    </engines>  

    <!-- android --> 
    <platform name="android">        
        <!-- Replace *.wav with your own sound files -->
        <resource-file src="snd/demo.wav" target="res/raw/demo.wav" />
        <resource-file src="snd/test.wav" target="res/raw/test.wav" />
    </platform>  

    <!-- iOS --> 
    <platform name="ios">
        <!-- Replace *.wav with your own sound files -->
        <resource-file src="snd/demo.wav" target="res/raw/demo.wav" />
        <resource-file src="snd/test.wav" target="res/raw/test.wav" />
    </platform>  
    
</plugin>
